<launch>
  <!-- <include file="$(find moveit_servo)/launch/servo_server.launch"></include> -->
  <!-- <include file="$(find moveit_servo)/launch/spacenav_teleop_tools.launch"></include> -->

    <!-- This node does the servoing calculations -->
  <arg name="config" default="$(find moveit_servo)/config/ur5_config.yaml"/>
  <node name="servo_server" pkg="moveit_servo" type="servo_server" output="screen" >
    <rosparam command="load" file="$(arg config)"/>
  </node>
  <arg name="cmd_vel" default="spacenav/joy" />
  <arg name="teleop_config" default="$(find moveit_servo)/config/spacenav_via_teleop_tools.yaml" />
  <rosparam file="$(arg teleop_config)" command="load" />

  <!-- Launch joy node -->
  <arg name="dev" default="/dev/input/js0" />
  <node pkg="joy" type="joy_node" name="joy">
    <param name="dev" value="$(arg dev)" /> <!-- Customize this to match the location your joystick is plugged in on-->
    <param name="deadzone" value="0.2" />
    <param name="autorepeat_rate" value="40" />
    <param name="coalesce_interval" value="0.025" />
  </node>
  <!-- Launch python interface -->
  <!-- <node pkg="ur5_armgripper_servo" type="joy_servo_control.py" output="screen" name="servo_joy"/> -->
  <node pkg="pick_and_place" type="joy_control_robotarm_dependent.py" output="screen" name="servo_joy"/>


  <!-- <include file="$(dirname)/demo_gazebo.launch" pass_all_args="true">  -->
</launch>