<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.522341 0.554899 0.619208" rpy="2.4159 -0.596331 -2.54336" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.522341 0.554899 0.619208   0.362972 0.823235 -0.405141 -0.162469 base_link head_camera" />
</launch>
