<launch>

  <!-- Robot Arm -->
  <include file="$(find ur_modern_driver)/launch/ur5_robotiq85_bringup.launch">
    <arg name="robot_ip" value="192.168.0.100" />
  </include>
  <include file="$(find robot_moveit_hardware)/launch/move_group.launch"/>
  <include file="$(find robot_moveit_hardware)/launch/moveit_rviz.launch"/>

  <!-- Gripper -->
  <node name="Robotiq2FGripperRtuNode" pkg="robotiq_2f_gripper_control" type="Robotiq2FGripperRtuNode.py" args="/dev/ttyUSB0" />

  <!-- Camera -->
  <include file="$(find usb_cam)/launch/usb_cam.launch"/>
  <!-- <node name="camera_node" pkg="usb_cam" type="usb_cam_node"/> -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.522341 0.554899 0.619208   0.362972 0.823235 -0.405141 -0.162469 base_link head_camera" />
</launch>